In [1]:
import pandas as pd

df = pd.read_csv('torem_dtw.csv')
df

,ID,Nama Daya Tarik Wisata,Alamat,Daerah,Provinsi,Kawasan,Kategori,Google Review,Google Map ID
0,1,Pantai Kuta,"Kuta, Badung, Bali",Kuta,Bali,Pantai,Alam,NaN,ChIJkbJrRYFH0i0RggJb7CncdHE
1,2,Peninsula Island,"Pulau Peninsula Nusa Dua, Nusa Dua, Benoa, Kec...",Nusa Dua,Bali,Pantai,Alam,4.5,ChIJM51wq9dC0i0RktOawQYW3jk
2,3,Pura Luhur Uluwatu,"Pecatu, Kec. Kuta Sel., Kabupaten Badung, Bali",Pecatu,Bali,Pantai,Budaya,4.6,ChIJkYHLIPxP0i0RlQTbpxuNuQw
3,4,Garuda Wisnu Kencana,"Jl. Raya Uluwatu, Ungasan, Kuta Selatan Badung...",Ungasan,Bali,Kota,Monumen,4.5,ChIJx97hVM9E0i0RUVpPBj5miBk
4,5,Pantai Padang - Padang,"Pecatu, Kuta Selatan, Kabupaten Badung, Bali.",Pecatu,Bali,Pantai,Alam,4.4,ChIJV-JMXVBF0i0RFUBMWOw7eGQ
...,...,...,...,...,...,...,...,...,...
101,102,Taman Mini Indonesia Indah,"Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta",Jakarta Timur,Jakarta,Kota,Rekreasi,4.5,ChIJYaJ20FDtaS4RDNry7LknMQc
102,103,Taman Impian Jaya Ancol,"Jalan Lodan Timur, RW.10, Ancol, Kota Jakarta ...",Jakarta Utara,Jakarta,Kota,Rekreasi,4.5,ChIJcdfvd3T0aS4RWFPBwpxqIIU
103,104,Taman Nasional Kepulauan Seribu,"Pulau Pramuka, Kelurahan Pulau Panggang, Kecam...",Kepulauan Seribu,Jakarta,Pantai,Alam,4.6,ChIJV76SdxB0ai4R6i8m2WMA3BA
104,105,Museum Nasional Indonesia,"Jalan Medan Merdeka Barat, Gambir, Kota Jakart...",Jakarta Pusat,Jakarta,Kota,Monumen,4.6,ChIJi_JxtdT1aS4R7Vhgb1ZBFaQ
105,106,Kota Tua,"Kota Tua, Mangga Besar, Kota Jakarta Barat, Da...",Jakarta Barat,Jakarta,Kota,Rekreasi,4.5,ChIJx7dLUwf2aS4RZXBT8uS36kI

In [2]:
df.dtypes

ID                          int64
Nama Daya Tarik Wisata     object
Alamat                     object
Daerah                     object
Provinsi                   object
Kawasan                    object
Kategori                   object
Google Review             float64
Google Map ID              object
dtype: object

In [4]:
df.isna().sum()

ID                        0
Nama Daya Tarik Wisata    0
Alamat                    0
Daerah                    0
Provinsi                  0
Kawasan                   0
Kategori                  0
Google Review             7
Google Map ID             0
dtype: int64

In [13]:
df["Google Review"].describe()

count    99.00000
mean      4.49596
std       0.18122
min       3.80000
25%       4.40000
50%       4.50000
75%       4.60000
max       4.90000
Name: Google Review, dtype: float64

In [5]:
df[df['Google Review'].isna()]

,ID,Nama Daya Tarik Wisata,Alamat,Daerah,Provinsi,Kawasan,Kategori,Google Review,Google Map ID
0,1,Pantai Kuta,"Kuta, Badung, Bali",Kuta,Bali,Pantai,Alam,NaN,ChIJkbJrRYFH0i0RggJb7CncdHE
15,16,Desa Penujak,"Desa Penujak, Kecamatan Praya Barat, Kabupaten...",Lombok,Nusa Tenggara Barat,Desa,Budaya,NaN,ChIJWamTNpWvzS0RkNr3yvsLAwU
16,17,Desa Beleka,"Desa Beleka, Kecamatan Praya, Kabupaten Lombok...",Lombok,Nusa Tenggara Barat,Desa,Budaya,NaN,ChIJQ0jksEetzS0RENv3yvsLAwU
24,25,Taman Laut Selat Pantar,"Selat Pantar, Munaseli, Kabupaten Alor, Nusa T...",Alor,Nusa Tenggara Timur,Pantai,Alam,NaN,ChIJ0VYNknZjqi0RPQ-Qavr-lgM
29,30,Labuan Bajo,"Labuan Bajo, Kabupaten Manggarai Barat, Nusa T...",Manggarai,Nusa Tenggara Timur,Pantai,Alam,NaN,ChIJQdZ-1KZotC0RjW5qPDMk9Yc
38,39,Gili Ketapang,"Gili Ketapang, Probolinggo, Jawa Timur, Indonesia",Probolinggo,Jawa Timur,Pantai,Alam,NaN,ChIJSboetxyv1y0RbSNHRddlHqE
50,51,Malioboro,"Sosromenduran, Kota Yogyakarta, Daerah Istimew...",Yogyakarta,DI Yogyakarta,Kota,Rekreasi,NaN,ChIJycO64uRZei4RnoVsKiP-XAE

In [2]:
df.loc[df['Google Review'].isna(), 'Google Review'] = 4.4
df[df['Google Review'].isna()]

Empty DataFrame
Columns: [ID, Nama Daya Tarik Wisata, Alamat, Daerah, Provinsi, Kawasan, Kategori, Google Review, Google Map ID]
Index: []

In [15]:
df

,ID,Nama Daya Tarik Wisata,Alamat,Daerah,Provinsi,Kawasan,Kategori,Google Review,Google Map ID
0,1,Pantai Kuta,"Kuta, Badung, Bali",Kuta,Bali,Pantai,Alam,4.4,ChIJkbJrRYFH0i0RggJb7CncdHE
1,2,Peninsula Island,"Pulau Peninsula Nusa Dua, Nusa Dua, Benoa, Kec...",Nusa Dua,Bali,Pantai,Alam,4.5,ChIJM51wq9dC0i0RktOawQYW3jk
2,3,Pura Luhur Uluwatu,"Pecatu, Kec. Kuta Sel., Kabupaten Badung, Bali",Pecatu,Bali,Pantai,Budaya,4.6,ChIJkYHLIPxP0i0RlQTbpxuNuQw
3,4,Garuda Wisnu Kencana,"Jl. Raya Uluwatu, Ungasan, Kuta Selatan Badung...",Ungasan,Bali,Kota,Monumen,4.5,ChIJx97hVM9E0i0RUVpPBj5miBk
4,5,Pantai Padang - Padang,"Pecatu, Kuta Selatan, Kabupaten Badung, Bali.",Pecatu,Bali,Pantai,Alam,4.4,ChIJV-JMXVBF0i0RFUBMWOw7eGQ
...,...,...,...,...,...,...,...,...,...
101,102,Taman Mini Indonesia Indah,"Kota Jakarta Timur, Daerah Khusus Ibukota Jakarta",Jakarta Timur,Jakarta,Kota,Rekreasi,4.5,ChIJYaJ20FDtaS4RDNry7LknMQc
102,103,Taman Impian Jaya Ancol,"Jalan Lodan Timur, RW.10, Ancol, Kota Jakarta ...",Jakarta Utara,Jakarta,Kota,Rekreasi,4.5,ChIJcdfvd3T0aS4RWFPBwpxqIIU
103,104,Taman Nasional Kepulauan Seribu,"Pulau Pramuka, Kelurahan Pulau Panggang, Kecam...",Kepulauan Seribu,Jakarta,Pantai,Alam,4.6,ChIJV76SdxB0ai4R6i8m2WMA3BA
104,105,Museum Nasional Indonesia,"Jalan Medan Merdeka Barat, Gambir, Kota Jakart...",Jakarta Pusat,Jakarta,Kota,Monumen,4.6,ChIJi_JxtdT1aS4R7Vhgb1ZBFaQ
105,106,Kota Tua,"Kota Tua, Mangga Besar, Kota Jakarta Barat, Da...",Jakarta Barat,Jakarta,Kota,Rekreasi,4.5,ChIJx7dLUwf2aS4RZXBT8uS36kI

In [3]:
rdf = df[[
    'ID',
    'Daerah',
    'Provinsi',
    'Kawasan',
    'Kategori',
    'Google Review'
]].copy() 
rdf

      ID            Daerah Provinsi Kawasan  Kategori  Google Review
0      1              Kuta     Bali  Pantai      Alam            4.4
1      2          Nusa Dua     Bali  Pantai      Alam            4.5
2      3            Pecatu     Bali  Pantai    Budaya            4.6
3      4           Ungasan     Bali    Kota   Monumen            4.5
4      5            Pecatu     Bali  Pantai      Alam            4.4
..   ...               ...      ...     ...       ...            ...
101  102     Jakarta Timur  Jakarta    Kota  Rekreasi            4.5
102  103     Jakarta Utara  Jakarta    Kota  Rekreasi            4.5
103  104  Kepulauan Seribu  Jakarta  Pantai      Alam            4.6
104  105     Jakarta Pusat  Jakarta    Kota   Monumen            4.6
105  106     Jakarta Barat  Jakarta    Kota  Rekreasi            4.5

[106 rows x 6 columns]

In [17]:
import random as rnd

# print(random.randint(, 6))
a = {}
for i in range(1,201):
    a[i] = rnd.randint(5, 10)

In [9]:
import random as rnd
rnd.randint(2, 5)

5

In [18]:
# rnd.choice(df.ID.unique())
round(rnd.uniform(3.0,5.0),1)

4.1

In [19]:
rat =[]
for key,val in a.items():
    for v in range(val):
        dtw = rnd.choice(df.ID.unique())
        rat.append([key,dtw,round(rnd.uniform(3.0,5.0),1)])
#     print(key, val)
len(rat)

1243

In [15]:
rnd.shuffle(rat)

In [20]:
Column = ['user_id', 'dtw_id', 'rating']  

with open('ratings.csv', 'w') as f: 
    write = csv.writer(f) 
    write.writerow(Column) 
    write.writerows(rat)

In [21]:
df2 = pd.read_csv('ratings.csv')

In [22]:
d = df2['dtw_id'].unique()

In [23]:
df2.shape

(1243, 3)

In [24]:
d.sort()
d

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106], dtype=int64)

In [25]:
df2[df2['user_id']==50]

     user_id  dtw_id  rating
315       50      20     3.2
316       50      46     4.6
317       50      54     4.0
318       50       4     3.4
319       50      78     3.0
320       50      68     5.0
321       50      45     3.3
322       50      39     4.0

In [69]:
df['Kawasan'].unique()

array(['Pantai', 'Kota', 'Desa', 'Gunung', 'Taman', 'Air Terjun', 'Danau',
       'Bukit'], dtype=object)

In [72]:
pantai = df[df['Kawasan']=='Pantai']
kota = df[df['Kawasan']=='Kota']
desa = df[df['Kawasan']=='Desa']
gunung = df[df['Kawasan']=='Gunung']
at = df[df['Kawasan']=='Air Terjun']
danau = df[df['Kawasan']=='Danau']
bukit = df[df['Kawasan']=='Bukit']

In [ ]:
rat2 =[]
for key,val in a.items():
    for v in range(val):
        dtw = rnd.choice(df.ID.unique())
        rat.append([key,dtw,round(rnd.uniform(3.0,5.0),1)])
#     print(key, val)
len(rat2)